.nav-bottom{
    height: 100px;
    align-items: center;
    justify-content: center;
    background: white ;
    border: none;
    a{
        color: black;
        text-transform: uppercase; 
    }
    li a{
        color: black;
        text-transform: uppercase;
    }
}